@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background-color:#191f36;
     font-family: "Nunito", sans-serif;
}
nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
}
.nav-links{
    display: flex;
}
.nav-links li{
    list-style:none;
    margin-right:3rem;
}
.nav-links li a{
    text-decoration:none;
    color:#fff;
    font-size:26px;
}
.heading {
    color: white;
    margin: 5rem;
    font-size:30px;
}
.body-text{
    color:#fff;
    font-size: 34px;
    margin-left: 5rem;
    margin-top: 10rem;
    flex-basis: 55%;
}

.Blue{
    color:#59B2F4;
}

.Name{
    font-size: 50px;
}

.Content{
    font-size: 30px;
}

.bold{
    font-weight: bolder;
}

.Extra-content{
    margin-top: 2rem;
    font-size: 24px;
}

.main-content{
    display: flex;
    flex-direction: row;
}

.nav-links li a:hover{
    color: #59B2F4;
}

.image{
    width:400px;
    height:400px;
    margin-left: 10rem;
    margin-top: 6rem;
    border-radius: 50%;
    object-fit: cover;
    flex-basis: 20%;
}