@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background-color:#191f36;
     font-family: "Nunito", sans-serif;
}

nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
}

.nav-links{
    display: flex;
}

.nav-links li{
    list-style:none;
    margin-right:3rem;
}

.nav-links li a{
    text-decoration:none;
    color:#fff;
    font-size:26px;
}

.heading {
    color: white;
    margin: 5rem;
    font-size:30px;
}

.body-text{
    color:#fff;
    font-size: 34px;
    margin-left: 5rem;
    margin-top: 10rem;
    flex-basis: 55%;
}

.Blue{
    color:#59B2F4;
}

.Name{
    font-size: 50px;
}

.Content{
    font-size: 30px;
}

.bold{
    font-weight: bolder;
}

.Extra-content{
    margin-top: 2rem;
    font-size: 24px;
}

.main-content{
    display: flex;
    flex-direction: row;
}

.nav-links li a:hover{
    color: #59B2F4;
}

.image{
    width:400px;
    height:400px;
    margin-left: 10rem;
    margin-top: 6rem;
    border-radius: 50%;
    object-fit: cover;
    flex-basis: 20%;
}

button{
    background-color: #59B2F4;
    margin-left: 5rem;
    height:3rem ;
    width: 10rem;
    color:#fff;
    border-radius:5rem;
    box-shadow:5px 5px 40px #59B2F4;
    border-color: white;
}

.introduction{
    margin-top: 8rem;
    color:#fff;
    margin-left:5rem;
    text-align: center;
    margin-right: 3rem;
}

.introduction h1{
    font-size: 56px;
    color:#59B2F4;
}

.introduction p{
    font-size: 20px;
}

.Aboutcontent{
    margin-top:3.5rem;
}

.container1, .container2, .container3{
    margin-top: 5rem;
    color: white;
    margin-left: 5rem;
    width:400px;
    height:350px;
    text-align: center;
}

.educationdetails{
    display:flex;
    justify-content: center;

}

.container1 h1,.container2 h1, .container3 h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container1 p,.container2 p, .container3 p{
    margin-bottom: 1rem;
    font-size: 20px;
}

.container1:hover, .container2:hover ,.container3:hover{
    /* border: 1px solid #59B2F4; */
    border-radius: 2rem;
    box-shadow: 5px 5px 40px #59B2F4;
}



